.header__container {
  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
  padding: 0 106px;
  height: 80px;
}
.header__logo {
  width: 40px;
  height: 40px;
}
.header__navbar {
  display: inline;
  color: #a8aebf;
  margin-left: 48px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
.header__navbar:hover {
  color: white;
}
.arrow {
  margin-left: 8px;
}
