<div
  class="header__container d-flex align-items-center justify-content-between"
>
  <img
    routerLink="Inicio"
    class="header__logo"
    src="../assets/logo.png"
    alt=""
  />
  <ul *ngIf="userLogged | async as user; else logout">
    <a routerLink="Welcome" class="header__navbar" routerLinkActive="active"
      >Dashboard</a
    >
    <!-- <a routerLink="Mi-Lista" class="header__navbar" routerLinkActive="active"
      >Mi lista</a
    > -->
    <a routerLink="Agregar" class="header__navbar" routerLinkActive="active"
      >Agregar</a
    >
    <a (click)="logOut()" class="header__navbar"
      >Salir <i class="ml-1 fas fa-arrow-right"></i>
    </a>
  </ul>
  <ng-template #logout>
    <ul>
      <a routerLink="Inicio" class="header__navbar">Inicio</a>
      <a routerLink="Pelis" class="header__navbar">Películas</a>
      <a routerLink="Series" class="header__navbar">Series</a>
      <a routerLink="Ingresar" class="header__navbar"
        >Ingresar <i class="ml-1 fas fa-arrow-right"></i
      ></a>
    </ul>
  </ng-template>
</div>
