.bienvenido {
  margin: 0;
  padding: 80px 120px;
}
.resultados {
  margin-top: 40px;
  justify-content: space-between;
}
.contenedor-cantidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  width: 588px;
  height: 152px;
  background: #121829;
  opacity: 0.8;
  border-radius: 12px;
  margin-right: 24px;
}
.titulo {
  font-size: 48px;
  color: #ebeef5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}
.cantidad {
  font-size: 32px;
}
.categoria {
  font-size: 16px;
  color: #767e94;
}

.buscador__input {
  display: flex;
  margin-top: 48px;
  width: 384px;
  height: 64px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #323b54;
  border-radius: 12px;
  align-items: center;
  padding: 0 18px;
  color: white;
}

.buscador__input::placeholder {
  color: #475069;
  padding: 0px 38px;
  font-size: 14px;
  background-image: url(../../../../assets/Left-Icon.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

.buscador__selector-opcion {
  margin-top: 52px;
  margin-left: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 32px;
  width: 119px;
  height: 56px;
  background: #7b6ef6;
  border-radius: 8px;
  color: #ebe9fe;
  border: none;
}
.resultado {
  /* padding: 0 106px; */
  margin-top: 88px;
}

.resultado__galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  row-gap: 20px;
}
.resultado__galeria > div:empty {
  display: none;
}
