<div class="bienvenido d-grid">
  <h1 class="titulo">Agregar nuevo item</h1>
  <div class="d-flex">
    <input
      class="buscador__input"
      type="text"
      [(ngModel)]="toSearch"
      (ngModelChange)="search()"
      placeholder="Buscar películas y series"
    />
    <button class="buscador__selector-opcion" (click)="getTrending()">
      Buscar
    </button>
  </div>
  <section class="resultado">
    <div class="resultado__galeria">
      <div *ngFor="let card of encountered; let i = index">
        <div *ngIf="encountered[i].title">
          <app-card
            [titulo]="encountered[i].title"
            [imagen]="encountered[i].poster_path"
            [rating]="encountered[i].vote_average"
            [media_type]="encountered[i].media_type"
            [id]="encountered[i].id"
            [agregar]="agregar"
          ></app-card>
        </div>
        <div *ngIf="encountered[i].name">
          <app-card
            [titulo]="encountered[i].name"
            [imagen]="encountered[i].poster_path"
            [rating]="encountered[i].vote_average"
            [media_type]="encountered[i].media_type"
            [id]="encountered[i].id"
            [agregar]="agregar"
          ></app-card>
        </div>
      </div>
    </div>
  </section>
</div>
