<section class="buscador">
  <h1 class="buscador__title">PelisUP!</h1>
  <p class="buscador__description">Plataforma para ver películas y series 😉</p>
  <input
    class="buscador__input"
    type="text"
    [(ngModel)]="toSearch"
    (ngModelChange)="search()"
    placeholder="Buscar películas y series"
  />

  <div
    class="buscador__selector d-flex align-items-center justify-content-between"
  >
    <button
      class="buscador__selector-opcion"
      (click)="getTrending('Todo')"
      [ngClass]="filter == 'Todo' ? 'active' : ''"
    >
      Todos
    </button>
    <button
      class="buscador__selector-opcion"
      (click)="getMovies('Pelicula')"
      [ngClass]="filter == 'Pelicula' ? 'active' : ''"
    >
      Películas
    </button>
    <button
      class="buscador__selector-opcion"
      (click)="getSeries('Serie')"
      [ngClass]="filter == 'Serie' ? 'active' : ''"
    >
      Series
    </button>
  </div>
</section>
<section class="resultado">
  <h2 class="resultado__cantidad">{{ filter }}s {{ count() }}</h2>
  <div class="resultado__galeria">
    <div *ngFor="let card of encountered; let i = index">
      <div *ngIf="encountered[i].title">
        <app-card
          [titulo]="encountered[i].title"
          [imagen]="encountered[i].poster_path"
          [rating]="encountered[i].vote_average"
          [media_type]="encountered[i].media_type"
          [id]="encountered[i].id"
        ></app-card>
      </div>
      <div *ngIf="encountered[i].name">
        <app-card
          [titulo]="encountered[i].name"
          [imagen]="encountered[i].poster_path"
          [rating]="encountered[i].vote_average"
          [media_type]="encountered[i].media_type"
          [id]="encountered[i].id"
          [agregar]="agregar"
        ></app-card>
      </div>
    </div>
  </div>
</section>
