<div class="ingresar d-flex">
  <img
    class="ingresar__imagen"
    src="../../../../assets/image-login.png"
    alt=""
  />
  <section class="ingresar__form-container d-flex flex-column">
    <h1 class="ingresar__form-title">Ingresar</h1>

    <div class="row">
      <div class="col">
        <form
          (ngSubmit)="guardar()"
          autocomplete="off"
          [formGroup]="miFormulario"
        >
          <!-- Campo de email -->

          <input
            type="email"
            class="ingresar__input ingresar__input-email"
            formControlName="email"
            placeholder="Email"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('email')">
            Debe de ser de al menos 3 letras
          </span>

          <!-- Campo de contraseña -->
          <div class="ingresar__input">
            <input
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              formControlName="password"
              placeholder="Contraseña"
            />
            <div
              (click)="myFunction()"
              class="ingresar__input-ojo"
              placeholder=""
            >
              
            </div>
          </div>
          <span class="form-text text-danger" *ngIf="campoEsValido('password')">
            Debe de ser de al menos 6 letras
          </span>

          <h3 routerLink="/Register" class="texto-register">
            ¿No tienes cuenta? <span style="color: blue">Resgistrar</span>
          </h3>

          <div (click)="setLocalStorage()" class="row mb-4">
            <button
              type="submit"
              [disabled]="miFormulario.invalid || loading"
              class="ingresar__button"
            >
              Ingresar
              <div
                *ngIf="loading"
                class="spinner-border text-light spinner"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>

          <div class="ingresar__separador">
            <img src="../../../../assets/Rectangle 1072.svg" alt="" />
            <h2 class="letra_O">ó</h2>
            <img src="../../../../assets/Rectangle 1072.svg" alt="" />
          </div>

          <img
            (click)="IngresarConGoogle()"
            class="ingresar__imagen-google mt-2"
            src="../../../../assets/image 1.png"
            alt=""
          />
        </form>
      </div>
    </div>
  </section>
</div>
