.bienvenido {
  margin: 0;
  padding: 80px 120px;
}
.resultados {
  margin-top: 40px;
  justify-content: space-between;
}
.contenedor-cantidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  width: 588px;
  height: 152px;
  background: #121829;
  opacity: 0.8;
  border-radius: 12px;
  margin-right: 24px;
}
.titulo {
  font-size: 48px;
  color: #ebeef5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
}
.cantidad {
  font-size: 32px;
}
.categoria {
  font-size: 16px;
  color: #767e94;
}
.numero {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #ebeef5;
}
