<div class="bienvenido d-grid">
  <h1 class="titulo">Bienvenido</h1>
  <div class="d-flex resultados">
    <div class="contenedor-cantidad" routerLink="/Pelis">
      <p class="numero">{{ countPeliculas() }}</p>
      <h4 class="categoria">Peliculas</h4>
    </div>
    <div class="contenedor-cantidad" routerLink="/Series">
      <p class="numero">{{ countSeries() }}</p>
      <h4 class="categoria">Series</h4>
    </div>
  </div>
</div>
