<div class="ingresar d-flex">
  <img
    class="ingresar__imagen"
    src="../../../../assets/image-login.png"
    alt=""
  />
  <section class="ingresar__form-container d-flex flex-column">
    <h1 class="ingresar__form-title">Registrarme</h1>

    <div class="row">
      <div class="col">
        <form
          (ngSubmit)="guardar()"
          autocomplete="off"
          [formGroup]="miFormulario"
        >
          <!-- Campo de email -->

          <input
            type="email"
            class="ingresar__input ingresar__input-email"
            formControlName="email"
            placeholder="Email"
          />

          <span class="form-text text-danger" *ngIf="campoEsValido('email')">
            Debe de ser de al menos 3 letras
          </span>

          <!-- Campo de contraseña -->
          <div class="ingresar__input">
            <input
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              formControlName="password"
              placeholder="Contraseña"
            />
            <div
              (click)="myFunction()"
              class="ingresar__input-ojo"
              placeholder=""
            >
              
            </div>
          </div>
          <span class="form-text text-danger" *ngIf="campoEsValido('password')">
            Debe de ser de al menos 6 letras
          </span>

          <h3 routerLink="/Ingresar" class="texto-register">
            ¿Tienes cuenta? <span style="color: blue">Ingresar</span>
          </h3>

          <div (click)="setLocalStorage()" class="row mb-4">
            <button
              (click)="guardar()"
              type="submit"
              [disabled]="miFormulario.invalid"
              class="ingresar__button"
            >
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
