.ingresar {
  padding: 0 106px;
  margin-top: 36px;
}
.ingresar__imagen {
  max-width: 486px;
  max-height: 560px;
}

.ingresar__form-container {
  width: 486px;
  margin-top: 44px;
  margin-left: 126px;
}

.ingresar__title {
  font-weight: 600;
  font-size: 64px;
  color: #c3c8d4;
  margin: 16px 0px;
}

.ingresar__input {
  display: flex;
  margin-top: 48px;
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #323b54;
  border-radius: 12px;
  align-items: center;
  color: white;
}
.ingresar__input-email {
  padding: 6px 12px;
}
.ingresar__input-email::placeholder {
  color: #475069;
  padding: 0px 38px;
  font-size: 14px;
  background-image: url(../../../../assets/email-Icon.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

.form-control {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 64px;
  padding: 6px 12px;
  border: none;
}
.form-control::placeholder {
  color: #475069;
  padding: 0px 38px;
  background-image: url(../../../../assets/contraseña-Icon.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  font-size: 14px;
}

.ingresar__input-ojo {
  background: rgba(0, 0, 0, 0);
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  font-size: 14px;
  min-width: 40px;
  justify-content: end;
  text-align: center;
  color: #384569;
}
.ingresar__input-ojo:hover {
  color: white;
}
.ingresar__button {
  background: #7b6ef6;
  border-radius: 8px;
  color: #ebe9fe;
  margin-top: 40px;
  padding: 16px 32px;
  border: none;
}

.ingresar__button:disabled {
  background: #a19cd1;
  color: #d7d3ff;
}

.ingresar__imagen-google {
  margin-left: 80px;
  width: 303px;
  height: 69px;
}
.ingresar__separador {
  display: flex;
}
.letra_O {
  margin-left: 9px;
  margin-right: 9px;
  font-weight: 600;
  font-size: 32px;
  color: #c3c8d4;
  font-weight: 600;
}
.texto-register {
  font-size: 16px;
  margin-top: 40px;
}
