.cards {
  padding: 8px 8px 16px;
  height: 520px;
  width: 266px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 12px;
}
.cards:hover {
  background: rgba(32, 40, 62, 0.1);
  border: 2px solid rgba(32, 40, 62, 0.2);
}
.portada {
  width: 250px;
  height: 400px;
  border-radius: 8px;
}
.name-peli {
  font-weight: 600;
  font-size: 16px;
  color: #ebeef5;
  margin: 16px 0px;
}
.rating {
  position: absolute;
  padding: 4px 8px;
  width: 71px;
  height: 40px;
  left: 16px;
  top: 18px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.rating__puntos {
  background-image: url(../../../../assets/star.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
  margin: 0;
  color: #ffad49;
  font-size: 16px;
}
.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.agregar {
  font-weight: 600;
  font-size: 16px;
  color: #7b6ef6;
  padding: 0 0 0 6px;
  text-decoration: none;
  cursor: pointer;
}
.agregar:hover {
  color: #2109f8;
}
.eliminar {
  font-weight: 600;
  font-size: 16px;
  color: #ff6161;
  padding: 0 0 0 6px;
  text-decoration: none;
  cursor: pointer;
}
.eliminar:hover {
  color: #fd3838;
}
