<div class="cards">
  <img
    src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ imagen }}"
    alt="portada"
    class="portada"
  />
  <div class="rating">
    <p class="rating__puntos">{{ rating }}</p>
  </div>
  <div class="footer">
    <p class="name-peli">{{ titulo }}</p>
    <div *ngIf="userLogged | async as user">
      <a
        *ngIf="agregar"
        class="agregar"
        routerLinkActive="active"
        (click)="addList()"
        (click)="cambiarEstado()"
        >+ Agregar a mi lista</a
      >
      <a
        *ngIf="eliminar"
        class="eliminar"
        routerLinkActive="active"
        (click)="deleteItem()"
        (click)="cambiarEstado()"
        >- Eliminar a mi lista</a
      >
    </div>
  </div>
</div>

<!-- 
<div class="cards">
  <img src="{{ encountered[i].image }}" alt="portada" class="portada" />
  <p class="name-peli">{{ encountered[i].name }}</p>
  <div class="rating">
    <p class="rating__puntos">{{ encountered[i].rating }}</p>
  </div>
</div> -->
