<section class="buscador">
  <p class="buscador__description">PelisUP!</p>
  <h1 class="buscador__title">Peliculas</h1>
  <input
    class="buscador__input"
    type="text"
    [(ngModel)]="toSearch"
    (ngModelChange)="search()"
    placeholder="Buscar películas y series"
  />
</section>
<section class="resultado">
  <h2 class="resultado__cantidad"></h2>
  <div class="resultado__galeria">
    <div *ngFor="let card of encountered; let i = index">
      <app-card
        *ngIf="logueado"
        [titulo]="encountered[i].title.stringValue"
        [imagen]="encountered[i].poster_path.stringValue"
        [rating]="encountered[i].vote_average.doubleValue"
        [eliminar]="eliminar"
        [docId]="card.docId"
      ></app-card>
      <app-card
        *ngIf="!logueado"
        [titulo]="encountered[i].title"
        [imagen]="encountered[i].poster_path"
        [rating]="encountered[i].vote_average"
      ></app-card>
    </div>
  </div>
</section>
