.buscador {
  margin-top: 104px;
  padding: 0 106px;
}

.buscador__title {
  font-weight: 600;
  font-size: 64px;
  color: #ebeef5;
  margin: 16px 0px;
}
.buscador__description {
  font-size: 16px;
  color: #8e95a9;
  margin: 16px 0px;
}
.buscador__input {
  display: flex;
  margin-top: 48px;
  width: 344px;
  height: 64px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #323b54;
  border-radius: 12px;
  align-items: center;
  padding: 0 18px;
  color: white;
}

.buscador__input::placeholder {
  color: #475069;
  padding: 0px 38px;
  font-size: 14px;
  background-image: url(../../../../assets/Left-Icon.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
}

.resultado {
  padding: 0 106px;
}
.resultado__cantidad {
  margin-top: 48px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #767e94;
}
.resultado__galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  row-gap: 20px;
}

/* card */

.cards {
  padding: 8px 8px 16px;
  height: 480px;
  width: 266px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 12px;
}
.cards:hover {
  background: rgba(32, 40, 62, 0.1);
  border: 2px solid rgba(32, 40, 62, 0.2);
}
.portada {
  width: 250px;
  height: 400px;
  border-radius: 8px;
}
.name-peli {
  font-weight: 600;
  font-size: 16px;
  color: #ebeef5;
  margin: 16px 0px;
}
.rating {
  position: absolute;
  padding: 4px 8px;
  width: 61px;
  height: 40px;
  left: 16px;
  top: 18px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.rating__puntos {
  background-image: url(../../../../assets/star.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
  margin: 0;
  color: #ffad49;
  font-size: 16px;
}
.resultado__galeria > div:empty {
  display: none;
}
