<section class="container pt-5">
  <h1 class="title">Mi lista</h1>
  <div class="d-flex justify-content-between align-items-start flex-wrap">
    <div *ngFor="let card of movies">
      <div class="cards">
        <img
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{
            card.poster_path
          }}"
          alt="portada"
          class="portada"
        />
        <p class="name-peli">{{ card.name || card.title }}</p>
        <div class="rating">
          <p class="rating__puntos">{{ card.vote_average }}</p>
        </div>
        <div
          (click)="deleteItem(card.idGlobal)"
          class="eliminar btn-delete d-flex"
          routerLinkActive="active"
        >
          - Eliminar de mi lista
        </div>
      </div>
    </div>
  </div>
</section>
