.portada {
  width: 100%;
  max-height: 355px;
  border-radius: 12px;
}

.title-card {
  padding: 5px;
}

.cards {
  padding: 8px 8px 16px;
  height: 520px;
  width: 266px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 12px;
}

.portada {
  width: 250px;
  height: 400px;
  border-radius: 8px;
}
.name-peli {
  font-weight: 600;
  font-size: 16px;
  color: #ebeef5;
  margin: 16px 0px;
}
.rating {
  position: absolute;
  padding: 4px 8px;
  width: 61px;
  height: 40px;
  left: 16px;
  top: 18px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.rating__puntos {
  background-image: url(../../../../assets/star.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
  margin: 0;
  color: #ffad49;
  font-size: 16px;
}

.eliminar {
  font-weight: 600;
  font-size: 16px;
  color: #ffbd6d;
  margin-top: 16px;
  padding: 0 0 0 6px;
  text-decoration: none;
}
.eliminar:hover {
  color: #f88b06;
}
