* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  color: #ebeef5;
}
